body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background: #777;;
    font-size: 18px;
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

header,
nav,
footer {
    line-height: 80px;
    text-align: center;
}

header,
nav,
section,
aside,
footer {
    color: #777;
    background-color: #ebebeb;
    margin-bottom: 10px;
}

section {
    width: 495px;
    float: left;
    color: #777;
    background-color: #ebebeb;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 63px;
    text-align: center;
}


#article {
    position: relative;
    color: #ebebeb;
    background-color: #777;
    top: 38px;
    width: 93%;
    left: 3.5%;
    line-height: 225px;
    height: 200px;
}

#article_heading {
    position: relative;
    top: -100px;
    height: 110px;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;


}
#heading,
#para {
    color: #777;
    background-color: #ebebeb;
    padding: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 80%;
}

#heading {
    position: absolute;
    top: 41px ;
    left: 28px;

}

#para {
    position: absolute;
    left: 28px;
    top: 109px;
}

#aside {
    float: left;
    margin-left: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 453px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 278px;
}

#footer {
    clear: both;


}
